# 신용 위험 이진분류 데이터셋
- 학습세트
    - 고객의 개인정보: https://drive.google.com/file/d/1s5b6R_-MgS75uFd7J1aniK4_sVlvxLSm/view?usp=sharing
    - 고객의 카드값 변제 내역: https://drive.google.com/file/d/1lLTNdfVyXE9r9LkKz0q52LijtGXZNieN/view?usp=sharing
- 평가세트
    - 고객의 개인정보: https://drive.google.com/file/d/1b0qiravZbb-vSJ-v5e-OHpcg4MktZ6nV/view?usp=sharing
    - 고객의 카드값 변제 내역: https://drive.google.com/file/d/1S03WkFPDcFrUepbPGjND2He8HQrs6DOd/view?usp=sharing

In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
DATA_PATH = "data/"

In [3]:
import numpy as np
import pandas as pd

train_customer = pd.read_csv(f"{DATA_PATH}credit_customer_train.csv")
test_customer = pd.read_csv(f"{DATA_PATH}credit_customer_test.csv")
train_payment = pd.read_csv(f"{DATA_PATH}credit_payment_train.csv")
test_payment = pd.read_csv(f"{DATA_PATH}credit_payment_test.csv")

In [4]:
train_customer.shape, train_payment.shape, test_customer.shape, test_payment.shape

((787, 13), (5693, 12), (338, 12), (2557, 12))

In [5]:
train_customer.head()

,고객ID,범주1,범주2,범주3,범주4,범주5,범주6,수치1,수치2,수치3,수치4,수치5,신용위험도
0,58996294,7,1,2,11,5,3,1239.5,110000.0,80,60064,1.000000,0
1,54988879,4,3,2,8,-1,5,1223.0,68000.0,112,340014,187.082869,0
2,58984937,5,1,2,15,-1,4,1296.5,130000.0,86,60018,158.113883,0
3,58987530,5,1,2,15,5,3,1304.0,146000.0,90,350008,1.000000,0
4,59003965,4,2,2,8,9,4,0.0,76000.0,113,60091,158.407702,0

In [6]:
train_payment.head()

,고객ID,연체횟수유형1,연체횟수유형2,연체횟수유형3,총연체일수,정상결제횟수,카드코드,카드한도,계정업데이트날짜,카드현재잔액,카드최고잔액,최근지불날짜
0,58987402,0,0,0,0,1,10,16500.0,04/12/2016,0.0,NaN,NaN
1,58995151,0,0,0,0,1,5,NaN,04/12/2016,588720.0,491100.0,NaN
2,58997200,0,0,0,0,2,5,NaN,04/12/2016,840000.0,700500.0,22/04/2016
3,54987763,0,0,0,0,2,10,NaN,03/12/2016,15147.6,NaN,26/04/2016
4,58994429,0,0,0,0,2,10,16500.0,02/12/2016,3252.0,3210.0,NaN

In [7]:
# pd.to_datetime(train_payment["계정업데이트날짜"], dayfirst=True)

In [8]:
train_payment.sort_values("고객ID").head(50)

,고객ID,연체횟수유형1,연체횟수유형2,연체횟수유형3,총연체일수,정상결제횟수,카드코드,카드한도,계정업데이트날짜,카드현재잔액,카드최고잔액,최근지불날짜
4257,54982353,0,0,35,31500,0,10,12100.0,27/12/2008,12142.8,10619.0,14/07/2009
5672,54982353,0,0,0,0,0,10,NaN,18/12/1994,13909.2,NaN,NaN
5664,54982353,1,0,0,15,35,10,275000.0,21/04/1997,-1197.6,333140.0,21/07/2015
5540,54982353,0,0,0,0,4,10,NaN,17/09/2003,0.0,4458.0,28/03/2006
5534,54982353,0,0,0,0,34,10,NaN,17/10/2003,0.0,5610.0,28/05/2005
5059,54982353,0,0,0,0,1,10,NaN,21/11/2006,0.0,NaN,NaN
2662,54982353,1,0,0,1,31,10,550000.0,03/09/2013,326684.4,609683.0,18/12/2015
5623,54982353,0,0,0,0,11,2,NaN,21/02/2001,0.0,248874.0,22/06/2007
5580,54982353,0,0,0,0,35,10,5500.0,05/01/2003,0.0,4043.0,25/11/2003
5389,54982353,1,2,3,562,13,10,NaN,22/04/2005,0.0,5831.0,07/10/2005
3724,54982353,0,0,0,0,19,10,NaN,16/07/2011,31677.6,204037.0,14/12/2015
1848,54982353,0,0,0,0,1,10,55000.0,27/08/2014,0.0,2068.0,12/06/2014
5327,54982353,0,0,0,0,0,10,NaN,30/09/2005,0.0,NaN,NaN
5282,54982353,0,0,0,0,1,10,NaN,08/01/2006,0.0,1622.0,NaN
4970,54982353,0,0,0,0,5,10,NaN,12/03/2007,0.0,NaN,NaN
4969,54982353,0,0,0,0,26,10,660000.0,12/03/2007,252998.4,775030.0,23/12/2015
5418,54982353,0,0,0,0,1,1,NaN,16/02/2005,0.0,700500.0,18/01/2008
4971,54982353,0,0,0,0,12,10,NaN,12/03/2007,120381.6,546657.0,21/05/2011
5651,54982356,0,0,0,0,18,12,NaN,02/10/1998,0.0,31666.0,28/06/2006
5160,54982356,0,0,0,0,1,27,NaN,19/06/2006,0.0,600500.0,26/10/2010
5161,54982356,0,0,0,0,16,27,NaN,19/06/2006,0.0,600500.0,NaN
5628,54982356,0,0,0,0,10,6,NaN,14/01/2001,0.0,16000.0,NaN
5653,54982356,0,0,0,0,36,10,330000.0,17/06/1998,6.0,81139.0,10/05/2013
5627,54982356,0,0,0,0,0,6,NaN,14/01/2001,0.0,18000.0,NaN
5214,54982356,0,0,0,0,36,10,NaN,30/03/2006,15938.4,28740.0,26/11/2015
1646,54982387,0,0,0,0,15,6,NaN,11/11/2014,0.0,69273.0,02/12/2016
3376,54982387,2,0,0,11,30,10,330000.0,03/07/2012,3481.2,98269.0,18/05/2016
3893,54982387,0,0,0,0,28,1,NaN,10/09/2010,0.0,500500.0,23/12/2012
5117,54982387,0,0,0,0,21,10,13200.0,30/08/2006,0.0,51056.0,10/08/2011
1644,54982387,0,0,0,0,11,6,NaN,11/11/2014,0.0,29940.0,20/09/2015
5539,54982387,0,0,0,0,36,10,26400.0,17/09/2003,5268.0,27017.0,22/03/2016
1748,54982387,0,0,0,0,1,6,NaN,09/10/2014,0.0,106087.0,24/05/2015
1583,54982387,0,0,0,0,26,1,NaN,04/12/2014,917833.2,1200500.0,25/03/2016
2714,54982387,0,0,0,0,28,1,NaN,10/08/2013,349729.2,500500.0,03/04/2016
1645,54982387,0,0,0,0,15,6,NaN,11/11/2014,0.0,23291.0,14/02/2016
3520,54982387,1,0,0,1,35,10,68200.0,25/02/2012,15694.8,14537.0,26/03/2016
2187,54982463,0,0,0,0,15,5,NaN,07/04/2014,79780.8,100500.0,24/08/2015
3548,54982463,0,0,0,0,19,13,NaN,27/01/2012,0.0,56500.0,26/07/2013
1771,54982530,0,0,0,0,12,10,NaN,28/09/2014,0.0,8273.0,16/09/2015
1795,54982530,0,0,0,0,12,10,134200.0,16/09/2014,673.2,24117.0,17/07/2015
2484,54982530,0,0,0,0,25,10,NaN,04/12/2013,4371.6,14955.0,18/08/2015
1335,54982530,0,0,0,0,7,10,55000.0,21/02/2015,0.0,3806.0,21/08/2015
1404,54982665,0,0,0,0,9,10,60500.0,31/01/2015,6657.6,18934.0,19/09/2015
4915,54982665,0,2,26,11906,6,10,NaN,17/05/2007,0.0,46371.0,12/07/2013
4174,54982665,0,0,0,0,1,5,NaN,30/03/2009,0.0,150500.0,NaN
4145,54982665,0,0,0,0,18,10,NaN,28/04/2009,153792.0,149387.0,10/08/2015
1662,54982697,0,0,0,0,17,10,135300.0,06/11/2014,360.0,48811.0,17/10/2015
3115,54982697,0,0,0,0,28,10,NaN,07/01/2013,17145.6,20441.0,20/09/2015
4784,54982721,0,0,34,30600,1,13,NaN,09/09/2007,0.0,54500.0,06/06/2014
686,54982721,0,0,0,0,3,10,79200.0,15/08/2015,41946.0,35455.0,10/06/2015

In [9]:
train_ft = train_customer.iloc[:,:-1].copy()
test_ft = test_customer.copy()

# Data leakage
- 정보 누설
- 머신러닝에서 Data leakage는 예측 시 사용할 수 없는 정보가 모델의 학습및 평가에 사용되는 것을 말한다.
- 모델 학습 과정에서 실제로는 알 수 없는 정보가 모델에 포함되어 예측 성능이 과대 평가될 수 있는 현상을 의미
- Data leakage 문제가 있으면 모델이 과대평가 되고 모델의 일반화 가능성이 보장되지 않는다.

# Data leakage 발생 예시
-  실제 서비스 환경에서 예측할 때 사용할 수 없는 피처를 수집하여 학습 데이터와 테스트 데이터에서 적용하고 모델 학습 및 성능을 평가한 경우
    - ex) 영화 관객수를 예측하는 문제에서 스크린 수를 피처로 사용하는 경우
- 테스트 데이터의 정보를 모델의 학습에 사용한 경우

# 다른 샘플들의 통계치를 이용해서 피처를 생성하는 경우

- 범주4 별 수치1 에 대한 평균값을 피처로 추가

In [10]:
tmp = train_customer.groupby("범주4")["수치1"].mean().reset_index().rename(columns={"수치1": "범주4_수치1_mean"})
tmp

   범주4  범주4_수치1_mean
0    3   1378.250000
1    4   1211.750000
2    5    911.333333
3    6   1217.000000
4    8   1034.854086
5    9   1386.500000
6   11   1143.617825
7   12   1018.388889
8   15   1148.430556
9   16      0.000000

In [11]:
train_ft = pd.merge(train_ft, tmp, on="범주4", how="left")
train_ft.head()

,고객ID,범주1,범주2,범주3,범주4,범주5,범주6,수치1,수치2,수치3,수치4,수치5,범주4_수치1_mean
0,58996294,7,1,2,11,5,3,1239.5,110000.0,80,60064,1.000000,1143.617825
1,54988879,4,3,2,8,-1,5,1223.0,68000.0,112,340014,187.082869,1034.854086
2,58984937,5,1,2,15,-1,4,1296.5,130000.0,86,60018,158.113883,1148.430556
3,58987530,5,1,2,15,5,3,1304.0,146000.0,90,350008,1.000000,1148.430556
4,59003965,4,2,2,8,9,4,0.0,76000.0,113,60091,158.407702,1034.854086

## data leakage 발생 예시
- 테스트데이터를 집계할 때 다른 샘플을 이용하여 집계하여 피처를 추가할 경우 data leakage 발생

In [12]:
tmp = test_customer.groupby("범주4")["수치1"].mean().reset_index().rename(columns={"수치1": "범주4_수치1_mean"})
pd.merge(test_ft, tmp, on="범주4", how="left")

,고객ID,범주1,범주2,범주3,범주4,범주5,범주6,수치1,수치2,수치3,수치4,수치5,범주4_수치1_mean
0,58991594,7,3,1,11,5,5,1365.5,152000.0,84,60006,173.205081,1149.011194
1,54983822,5,3,2,15,5,4,0.0,94000.0,113,60057,193.636257,1106.462025
2,54984131,5,3,2,15,5,5,1244.0,57000.0,95,151300,173.205081,1106.462025
3,58994981,7,2,2,11,5,3,0.0,72000.0,109,60019,169.484513,1149.011194
4,59004856,4,2,2,8,5,3,0.0,99000.0,90,60036,188.066478,1127.271186
...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,58992009,7,3,2,11,9,3,1290.5,273000.0,113,60063,223.606798,1149.011194
334,58993131,7,2,2,11,5,5,0.0,120000.0,101,72000,265.339405,1149.011194
335,58993847,7,3,2,11,9,4,1262.0,172000.0,112,72000,262.110664,1149.011194
336,58995703,7,3,2,11,9,5,0.0,75000.0,100,450018,353.553391,1149.011194
337,54989304,4,3,2,8,9,5,1238.0,125000.0,85,60002,1.000000,1127.271186

## data leakage 해결 방안
- 학습데이터에서 집계한 데이터로 merge 해줘야 함

In [13]:
tmp = train_customer.groupby("범주4")["수치1"].mean().reset_index().rename(columns={"수치1": "범주4_수치1_mean"})
test_ft = pd.merge(test_ft, tmp, on="범주4", how="left")
test_ft.head()

,고객ID,범주1,범주2,범주3,범주4,범주5,범주6,수치1,수치2,수치3,수치4,수치5,범주4_수치1_mean
0,58991594,7,3,1,11,5,5,1365.5,152000.0,84,60006,173.205081,1143.617825
1,54983822,5,3,2,15,5,4,0.0,94000.0,113,60057,193.636257,1148.430556
2,54984131,5,3,2,15,5,5,1244.0,57000.0,95,151300,173.205081,1148.430556
3,58994981,7,2,2,11,5,3,0.0,72000.0,109,60019,169.484513,1143.617825
4,59004856,4,2,2,8,5,3,0.0,99000.0,90,60036,188.066478,1034.854086

- 다음과 같은 경우는 data leakage 아님

In [14]:
test_payment.groupby("고객ID")["카드한도"].mean()

고객ID
54982549              NaN
54982579    194700.000000
54982727     46200.000000
54982856              NaN
54982859     86166.666667
                ...
59005838     27500.000000
59005843     57750.000000
59005852     31900.000000
59005881     69300.000000
59006139     59400.000000
Name: 카드한도, Length: 338, dtype: float64

# 결측치를 처리하는 경우

In [15]:
agg_dict = {
    "카드현재잔액": [
        ("카드현재잔액_mean", "mean"),
        ("카드현재잔액_std", "std")
    ]
}
tmp = train_payment.groupby("고객ID").agg(agg_dict)
tmp.columns = tmp.columns.droplevel()
train_ft = pd.merge(train_ft, tmp.reset_index(), on="고객ID", how="left")
train_ft.head()

,고객ID,범주1,범주2,범주3,범주4,범주5,범주6,수치1,수치2,수치3,수치4,수치5,범주4_수치1_mean,카드현재잔액_mean,카드현재잔액_std
0,58996294,7,1,2,11,5,3,1239.5,110000.0,80,60064,1.000000,1143.617825,341837.40,382976.993952
1,54988879,4,3,2,8,-1,5,1223.0,68000.0,112,340014,187.082869,1034.854086,19739.60,22504.881401
2,58984937,5,1,2,15,-1,4,1296.5,130000.0,86,60018,158.113883,1148.430556,29227.68,62191.709155
3,58987530,5,1,2,15,5,3,1304.0,146000.0,90,350008,1.000000,1148.430556,2053.68,4547.761408
4,59003965,4,2,2,8,9,4,0.0,76000.0,113,60091,158.407702,1034.854086,161.20,288.610187

In [16]:
tmp = test_payment.groupby("고객ID").agg(agg_dict)
tmp.columns = tmp.columns.droplevel()
test_ft = pd.merge(test_ft, tmp.reset_index(), on="고객ID", how="left")
test_ft.head()

,고객ID,범주1,범주2,범주3,범주4,범주5,범주6,수치1,수치2,수치3,수치4,수치5,범주4_수치1_mean,카드현재잔액_mean,카드현재잔액_std
0,58991594,7,3,1,11,5,5,1365.5,152000.0,84,60006,173.205081,1143.617825,237269.485714,388585.126964
1,54983822,5,3,2,15,5,4,0.0,94000.0,113,60057,193.636257,1148.430556,2450.640000,5487.179630
2,54984131,5,3,2,15,5,5,1244.0,57000.0,95,151300,173.205081,1148.430556,39169.000000,30712.634008
3,58994981,7,2,2,11,5,3,0.0,72000.0,109,60019,169.484513,1143.617825,19324.800000,27329.394250
4,59004856,4,2,2,8,5,3,0.0,99000.0,90,60036,188.066478,1034.854086,19231.800000,27369.275073

In [17]:
train_ft.isnull().sum()

고객ID             0
범주1              0
범주2              0
범주3              0
범주4              0
범주5              0
범주6              0
수치1              0
수치2              0
수치3              0
수치4              0
수치5              0
범주4_수치1_mean     0
카드현재잔액_mean      0
카드현재잔액_std      35
dtype: int64

In [18]:
test_ft.isnull().sum()

고객ID             0
범주1              0
범주2              0
범주3              0
범주4              0
범주5              0
범주6              0
수치1              0
수치2              0
수치3              0
수치4              0
수치5              0
범주4_수치1_mean     0
카드현재잔액_mean      0
카드현재잔액_std      12
dtype: int64

## data leakage 발생 예시

In [19]:
df = pd.concat([train_ft, test_ft]).reset_index(drop=True)
fill_value = df["카드현재잔액_std"].mean() # data leakage 발생
fill_value

np.float64(200281.89523297604)

In [20]:
df["카드현재잔액_std"].fillna(fill_value)

0       382976.993952
1        22504.881401
2        62191.709155
3         4547.761408
4          288.610187
            ...
1120    498550.920926
1121     12920.364138
1122    256848.631635
1123       714.121334
1124    502593.507037
Name: 카드현재잔액_std, Length: 1125, dtype: float64

## data leakage 해결 방안
- 테스트 데이터의 결측치를 처리할 때 특정 상수값으로 처리하거나 학습데이터에서 구한 통계치로 처리하면 된다.

In [21]:
fill_value = train_ft["카드현재잔액_std"].mean()

In [22]:
train_ft["카드현재잔액_std"] = train_ft["카드현재잔액_std"].fillna(0)
test_ft["카드현재잔액_std"] = test_ft["카드현재잔액_std"].fillna(0)

--------------여기서부터 연습--------------

In [23]:
train_ft = train_customer.iloc[:,:-1].copy()
test_ft = test_customer.copy()
train_ft.shape, test_ft.shape

((787, 12), (338, 12))

In [30]:
train_customer

,고객ID,범주1,범주2,범주3,범주4,범주5,범주6,수치1,수치2,수치3,수치4,수치5,신용위험도
0,58996294,7,1,2,11,5,3,1239.5,110000.0,80,60064,1.000000,0
1,54988879,4,3,2,8,-1,5,1223.0,68000.0,112,340014,187.082869,0
2,58984937,5,1,2,15,-1,4,1296.5,130000.0,86,60018,158.113883,0
3,58987530,5,1,2,15,5,3,1304.0,146000.0,90,350008,1.000000,0
4,59003965,4,2,2,8,9,4,0.0,76000.0,113,60091,158.407702,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
782,58994117,7,1,2,11,5,3,1323.5,122000.0,86,151300,1.000000,0
783,58995289,7,2,2,11,5,4,0.0,50000.0,113,450080,167.564913,0
784,58996500,7,1,2,11,9,5,1328.0,189000.0,85,60019,1.000000,0
785,59001833,4,3,2,8,9,4,1250.0,95000.0,111,60047,1.000000,0
786,59005917,4,1,2,8,-1,5,1266.5,104000.0,92,60036,1.000000,0

In [31]:
train_payment

,고객ID,연체횟수유형1,연체횟수유형2,연체횟수유형3,총연체일수,정상결제횟수,카드코드,카드한도,계정업데이트날짜,카드현재잔액,카드최고잔액,최근지불날짜
0,58987402,0,0,0,0,1,10,16500.0,04/12/2016,0.0,NaN,NaN
1,58995151,0,0,0,0,1,5,NaN,04/12/2016,588720.0,491100.0,NaN
2,58997200,0,0,0,0,2,5,NaN,04/12/2016,840000.0,700500.0,22/04/2016
3,54987763,0,0,0,0,2,10,NaN,03/12/2016,15147.6,NaN,26/04/2016
4,58994429,0,0,0,0,2,10,16500.0,02/12/2016,3252.0,3210.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
5688,58998715,0,0,0,0,1,2,NaN,NaN,1448944.8,2415400.0,22/11/2015
5689,58999145,0,0,0,0,14,12,NaN,NaN,0.0,126500.0,NaN
5690,58995478,0,0,0,0,9,15,NaN,NaN,0.0,NaN,NaN
5691,54988209,0,0,0,0,5,13,NaN,NaN,20654.4,33315.0,NaN
5692,54989207,0,0,0,0,1,5,NaN,NaN,240000.0,200500.0,NaN