In [58]:
import pandas as pd

DATA_PATH = "data/"

# 날짜 형식 변경
# df = pd.read_csv(f"{DATA_PATH}Netflix Userbase.csv")
# df["Join Date"] = pd.to_datetime(df["Join Date"], format="%d-%m-%y").dt.strftime("%Y-%m-%d")
# df["Last Payment Date"] = pd.to_datetime(df["Last Payment Date"], format="%d-%m-%y").dt.strftime("%Y-%m-%d")
# df.to_csv("C:/Users/kwon3/Desktop/converted_file.csv", index=False)

df = pd.read_csv(f"{DATA_PATH}converted_file.csv")
country_type_fee_df = pd.read_csv(f"{DATA_PATH}Netflix subscription fee Dec-2021.csv")
revenue_df = pd.read_csv(f"{DATA_PATH}netflix_revenue_updated.csv")

subscription_costs = []

for i, user in df.iterrows():
    user_country = user["Country"]
    user_subscription = user["Subscription Type"]

    country_cost = country_type_fee_df[country_type_fee_df["Country"] == user_country]
    
    if not country_cost.empty:
        if user_subscription == "Basic":
            subscription_costs.append(country_cost["Cost Per Month - Basic ($)"].values[0])
        elif user_subscription == "Standard":
            subscription_costs.append(country_cost["Cost Per Month - Standard ($)"].values[0])
        elif user_subscription == "Premium":
            subscription_costs.append(country_cost["Cost Per Month - Premium ($)"].values[0])
    else:
        subscription_costs.append("UNK")

df["Subscription Cost"] = subscription_costs
df

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration,Subscription Cost
0,1,Basic,10,22-01-15,23-06-10,United States,28,Male,Smartphone,1 Month,8.99
1,2,Premium,15,21-09-05,23-06-22,Canada,35,Female,Tablet,1 Month,15.03
2,3,Standard,12,23-02-28,23-06-27,United Kingdom,42,Male,Smart TV,1 Month,13.20
3,4,Standard,12,22-07-10,23-06-26,Australia,51,Female,Laptop,1 Month,12.12
4,5,Basic,10,23-05-01,23-06-28,Germany,33,Male,Smartphone,1 Month,9.03
...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,Premium,14,22-07-25,23-07-12,Spain,28,Female,Smart TV,1 Month,20.32
2496,2497,Basic,15,22-08-04,23-07-14,Spain,33,Female,Smart TV,1 Month,9.03
2497,2498,Standard,12,22-08-09,23-07-15,United States,38,Male,Laptop,1 Month,13.99
2498,2499,Standard,13,22-08-12,23-07-12,Canada,48,Female,Tablet,1 Month,11.87
2499,2500,Basic,15,22-08-13,23-07-12,United States,35,Female,Smart TV,1 Month,8.99