- 고객별 백화점 구매기록 데이터셋
    - https://drive.google.com/file/d/1tg41qXu02FK55bFa8P1Gx2URhwPUCoQQ/view?usp=sharing

In [57]:
import pandas as pd

In [58]:
# from google.colab import drive
# drive.mount('/content/drive')

In [59]:
DATA_PATH = "data/"

In [60]:
df = pd.read_csv(f"{DATA_PATH}store_train_transactions.csv")
df.head()

            ID                 구매일시     지점코드     대분류      중분류  브랜드코드    구매가격
0  train_13219  2004-05-01 09:40:00  A144000   공산품파트       차류   5100   59700
1   train_5590  2004-05-01 09:40:00  A144000    잡화파트     화장잡화   5101   17000
2   train_7200  2004-05-01 10:20:00  A112000     공산품     용기보증   5100   34937
3   train_3010  2004-05-01 10:30:00  A373000  아동_스포츠      아동복   5105   19000
4  train_10851  2004-05-01 10:30:00  A112000    가정용품  전화기_카세트   5110  215000

In [61]:
df.shape

(523105, 7)

In [62]:
df["ID"].nunique()

14940

In [63]:
df.columns

Index(['ID', '구매일시', '지점코드', '대분류', '중분류', '브랜드코드', '구매가격'], dtype='object')

```
pivot_table 함수를 이용하여 고객별로 구매가격의 평균값을 확인하시오.
```

In [64]:
pd.pivot_table(df, "구매가격", "ID")

                     구매가격
ID
train_0     210060.000000
train_1     120072.023810
train_10     83842.313433
train_100    72149.500000
train_1000   16833.333333
...                   ...
train_9995   36000.000000
train_9996  190976.400000
train_9997   29470.370370
train_9998   71356.034483
train_9999  193625.833333

[14940 rows x 1 columns]

```
pivot_table 함수를 이용하여 각 고객에 대하여 대분류별로  구매가격의 표준편차를 확인하시오.
```

In [65]:
pd.pivot_table(df, "구매가격", "ID", "대분류", "std")

대분류,가정용품,가정용품파트,골프_유니캐쥬얼,공산품,공산품파트,남성의류,남성정장스포츠,로얄부띠끄,로얄부틱,명품잡화,...,여성캐주얼,여성캐쥬얼,영라이브,영어덜트캐쥬얼,영캐릭터,영플라자,잡화,잡화파트,케주얼_구두_아동,패션잡화
ID,,,,,,,,,,,,,,,,,,,,,
train_0,151320.851174,403050.865276,NaN,NaN,NaN,NaN,945871.413414,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71330.802136
train_1,NaN,NaN,4171.930009,9767.940226,NaN,NaN,NaN,NaN,NaN,122329.473145,...,247417.814638,NaN,NaN,NaN,95468.581219,105393.181598,NaN,NaN,NaN,40577.087131
train_10,NaN,NaN,NaN,23883.236311,50172.985631,NaN,91429.191962,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76367.532368,261386.324195,73100.191518,NaN
train_100,176069.588515,NaN,136304.071839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,51961.524227,NaN,18036.999011,112191.455408,NaN
train_1000,NaN,NaN,NaN,NaN,NaN,73032.047760,NaN,NaN,NaN,20329.781110,...,80736.692777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
train_9994,NaN,3774.917218,NaN,NaN,57934.732151,NaN,213643.347661,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86705.989248,170223.177569,NaN
train_9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44547.727215,52107.421097,NaN
train_9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2828.427125,NaN,NaN,NaN,55861.435714,66893.134390,NaN,NaN,NaN,92980.284649
train_9998,NaN,NaN,7778.174593,NaN,NaN,NaN,NaN,NaN,NaN,49274.739979,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30232.432916
train_9999,687097.349549,NaN,NaN,NaN,NaN,179929.986384,NaN,NaN,NaN,NaN,...,31750.118110,NaN,NaN,NaN,NaN,120935.244380,NaN,NaN,NaN,43471.939499

```
고유한 고객번호로만 이루어진 데이터프레임을 만들어서 features 변수에 넣으시오.
컬럼명은 ID로 하시오.
컬럼이 ID만 있는 데이터프레임을 만들라는 의미
중복 고객번호가 있으면 안된다.
```

In [66]:
features = pd.DataFrame(df["ID"].unique(), columns=["ID"])
features

                ID
0      train_13219
1       train_5590
2       train_7200
3       train_3010
4      train_10851
...            ...
14935  train_13669
14936   train_3198
14937  train_13617
14938   train_3610
14939  train_10178

[14940 rows x 1 columns]

```
groupby 메소드를 이용하여 고객별로 구매가격의 평균을 구하고 데이터 프레임 형식으로 정돈 하고 구매가격의 컬럼명을 변경하여
features 변수의 데이터프레임과 left merge 하시오.
```

In [67]:
purchase_mean = (
    df.groupby("ID")["구매가격"]
    .mean()
    .reset_index()
    .rename(columns={"구매가격": "구매가격평균"})
)
purchase_mean

               ID         구매가격평균
0         train_0  210060.000000
1         train_1  120072.023810
2        train_10   83842.313433
3       train_100   72149.500000
4      train_1000   16833.333333
...           ...            ...
14935  train_9995   36000.000000
14936  train_9996  190976.400000
14937  train_9997   29470.370370
14938  train_9998   71356.034483
14939  train_9999  193625.833333

[14940 rows x 2 columns]

In [68]:
features = pd.merge(features, purchase_mean, on="ID", how="left")
features

                ID         구매가격평균
0      train_13219   80996.833333
1       train_5590   97656.378049
2       train_7200   52533.400000
3       train_3010   66376.008065
4      train_10851  126663.720930
...            ...            ...
14935  train_13669  192000.000000
14936   train_3198   52500.000000
14937  train_13617   67500.000000
14938   train_3610  123333.333333
14939  train_10178  114000.000000

[14940 rows x 2 columns]

```
groupby 메소드를 이용하여 고객별로 구매가격의 최대값과 대분류의 고유값의 개수(다양성)를
데이데이터 프레임 형식으로 정돈 하고 구매가격과 대분류의 컬럼명을 변경하여
features 변수의 데이터프레임과 left merge 하시오
```

In [69]:
agg_dict = {
    "구매가격": "max",
    "대분류": "nunique"
}

In [70]:
# tmp = df.groupby("ID").agg(agg_dict).rename(columns={"구매가격": "구매가격최대값", "대분류": "대분류고유값"})
tmp = df.groupby("ID").agg(agg_dict)
tmp.columns = ["구매가격최대값", "대분류고유값"]
features = pd.merge(features, tmp, on="ID", how="left")

In [71]:
features

                ID         구매가격평균  구매가격최대값  대분류고유값
0      train_13219   80996.833333   278000       7
1       train_5590   97656.378049  3169150      12
2       train_7200   52533.400000   755000      10
3       train_3010   66376.008065   993700      11
4      train_10851  126663.720930   528000       8
...            ...            ...      ...     ...
14935  train_13669  192000.000000   192000       1
14936   train_3198   52500.000000    53000       1
14937  train_13617   67500.000000    70000       1
14938   train_3610  123333.333333   324000       3
14939  train_10178  114000.000000   114000       1

[14940 rows x 4 columns]

```
groupby 메소드를 이용하여 고객별로 구매가격의 최소값과, 총 구매액
그리고 지점코드의 고유값 개수와 최빈값을 구하시오
구하는 과정에서 집계 컬럼에 대한 컬럼명도 정의하시오.
데이터프레임형식으로 정돈하고 features 변수의 데이터프레임과 left merge 하시오.
```

In [72]:
df.columns

Index(['ID', '구매일시', '지점코드', '대분류', '중분류', '브랜드코드', '구매가격'], dtype='object')

In [73]:
agg_dict = {
    "구매가격": [("구매가격최소값", lambda x: x[x > 0].min()), ("구매가격합계", "sum")],
    "지점코드": [
        ("지점코드고유값", "nunique"),
        ("지점코드최빈값", lambda x: x.mode()[0]),
    ],
}
tmp = df.groupby("ID").agg(agg_dict)
tmp.columns = tmp.columns.droplevel(0)
features = pd.merge(features, tmp, on="ID", how="left")
features

,ID,구매가격평균,구매가격최대값,대분류고유값,구매가격최소값,구매가격합계,지점코드고유값,지점코드최빈값
0,train_13219,80996.833333,278000,7,12000,8261677,1,A144000
1,train_5590,97656.378049,3169150,12,10300,8007823,3,A144000
2,train_7200,52533.400000,755000,10,5500,2889337,2,A112000
3,train_3010,66376.008065,993700,11,6400,8230625,2,A202000
4,train_10851,126663.720930,528000,8,13000,5446540,1,A112000
...,...,...,...,...,...,...,...,...
14935,train_13669,192000.000000,192000,1,192000,192000,1,A144000
14936,train_3198,52500.000000,53000,1,52000,105000,1,A112000
14937,train_13617,67500.000000,70000,1,65000,135000,1,A144000
14938,train_3610,123333.333333,324000,3,21000,370000,1,A373000
14939,train_10178,114000.000000,114000,1,114000,114000,1,A144000